body {
  width: 100%;
  height: 100%;
  background-color: #08132c;
}
.tle {
  height: 40px;
  line-height: 40px;
  font-size: 28px;
  color: #fff;
}
.subbtn {
  background-color: #5a98de;
}
.title {
  height: 40px;
  margin: 5px 0;
  text-align: center;
}

.block {
  display: inline-block;
  color: #fff;
}

.block button {
  width: 90px;
  font-size: 14px;
}

.count {
  height: 40px;
  line-height: 40px;
  color: #fff;
}
.num {
  text-align: right;
}

.thead,
.tbody {
  text-align: center;
  color: #fff;
}
#tbody {
  height: 460px;
}
.thead > div,
.tbody > div {
  height: 46px;
  line-height: 46px;
  background-color: #0e1e44;
  font-size: 14px;
  padding: 0 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tbody > div {
  background-color: rgba(8, 19, 44, 1);
  border: 1px solid #131a5f;
}
.tbody div img {
  margin-right: 10px;
  cursor: pointer;
}
#pag {
  height: 30px;
  text-align: right;
  margin: 5px 0;
  box-sizing: border-box;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
}
.layui-laypage {
  margin: 0;
}

/* // */
.lay_sele {
  color: #000 !important;
}
.lay_ipt {
  background-color: #112350;
  color: #fff;
  border: none;
}

.lay_ipt .layui-input {
  background-color: #112350;
  color: #fff;
  border: none;
}

.lim {
  width: 100%;
  height: 680px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  color: #fff;
  display: none;
}
.layForm {
  font-size: 14px;
}
.lim-add-box {
  height: 480px;
  margin-top: 120px;
  background-color: rgba(8, 19, 44, 1);
  padding: 10px 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.lim-chang-box {
  height: 300px;
  margin-top: 180px;
  background-color: rgba(8, 19, 44, 1);
  padding: 10px 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.limit {
  color: #fff;
  border: none;
}

.limit .layui-tab-title {
  background-color: #0e1e44;
  border: none;
  position: relative;
}
.layui-tab-title .rt {
  margin-top: 12px;
  margin-right: 20px;
}
#name {
  width: 50%;
}

.limit .layui-this {
  background-color: #5a98de !important;
  color: #fff !important;
}

.limit .layui-this:after {
  border: none !important;
}

.limit .tab-hide {
  height: 525px;
  overflow: hidden;
}

.lim-limit-box {
  height: 600px;
  margin-top: 30px;
  background-color: rgba(8, 19, 44, 1);
  padding: 10px 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#limitForm .tree {
  width: 100%;
  height: 400px;
  padding-left: 100px;
  box-sizing: border-box;
  overflow-y: auto;
}

.lim-limit-box .obtain {
  width: 60px;
  height: 40px;
  background-color: #5a98de;
  float: right;
}
.chekBox {
  width: 100%;
  height: 350px;
  padding: 0 30px;
  box-sizing: border-box;
  overflow-y: auto;
}
.layui-form-checkbox[lay-skin="primary"] {
  margin-top: 10px;
}
.layui-form-checkbox[lay-skin="primary"] span {
  color: #fff;
}
