html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.tab {
  box-sizing: border-box;
  background-color: rgba(8, 19, 44, 1);
  overflow: hidden;
  color: #fff;
  height: 100%;
  overflow: auto;
}

.tab table {
  width: 100%;
  height: 100%;
}

.tab th,
.tab td {
  height: 30px;
  font-size: 13px;
}
