body {
  background: url(../static/bg.png) no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  min-width: 1680px;
}
.lt {
  float: left;
}

.rt {
  float: right;
}

dl,
li {
  list-style: none;
}

.head {
  width: 100%;
  height: 80px;
  /* background: url(../static/direction.png) no-repeat; */
  background: url(../static/ccccccc.png) no-repeat;
  background-size: 100% 100%;
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0 15px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.title {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  height: 80px;
  line-height: 60px;
  text-align: center;
  font-size: 28px;
  color: #b0e1e5;
}
#lt-data{
  position: fixed;
  left: 10px;
  top: 0;
  height: 50px;
  line-height: 50px;
}
#date {
  float: left;
  color: #fff;
}
.c_link{
  float: left;
  color:#fff; 
  margin-left: 20px;
}
.c_link:hover {
  color: #1b84d2;
  text-decoration: underline;
}

.sign {
  color: #fff;
  position: fixed;
  right: 20px;
  top: 0;
  line-height: 25px;
}
.site{
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin-top: 10px;
  padding: 0 10px;
}
.site span{
  margin-right: 10px;
  font-size: 16px;
}
.site span.load {
  cursor: pointer;
}
.user {
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin: 0 10px;
  margin-top: 10px;
  padding: 0 10px;
  background: url(../static/sign.png) no-repeat;
  background-size: 100% 100%;
}

.sign img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-top: 10px;
}

.out {
  margin-top: 10px;
  margin-left: 10px;
}

/*左下角的时间*/
.foot {
  position: fixed;
  left: 15px;
  top: 80px;
  width: 1000px;
  z-index: 33;
}

.block .label {
  color: #fff;
  font-size: 16px;
}

.lay_ipt {
  background-color: #112350;
  color: #fff;
  border: none;
}
.lay_ipt .layui-input {
  background-color: #112350;
  color: #fff;
  border: none;
}
.myChart {
  height: 60px;
}
/* 中下 */
.btm_list {
  position: fixed;
  left: 0px;
  right: 100px;
  bottom: 20px;
  margin: auto;
  width: 900px;
  height: 50px;
  color: #fff;
  z-index: 555;
}

.btm_btm {
  width: 100%;
  text-align: center;
  float: left;
  margin-top: 20px;
}

.item_ {
  display: inline-block;
  color: #fff;
  width: 110px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  -webkit-transform: skew(-20deg);
  background-color: #1b84d2;
  background-image: linear-gradient(to right, #31cff6, #1b84d2);
  margin-right: 20px;
  cursor: pointer;
  position: relative;
}

a.item_:hover {
  color: #fff;
}

.item_hide {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 100%;
  display: none;
}

.item_hide p {
  width: 110px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 5px;
  transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  -webkit-transform: skew(-10deg);
  background-color: #1b84d2;
  background-image: linear-gradient(to right, #31cff6, #1b84d2);
}

.item_:hover,
.item_hide p:hover {
  background-color: #d37540;
  background-image: linear-gradient(to right, #f3b436, #d47640);
}

.item_:hover .item_hide {
  display: block;
}

/*筛选要素*/
.elem {
  position: fixed;
  left: 30px;
  bottom: 130px;
  width: 80px;
  padding: 0 10px;
  background-color: #091c42;
  z-index: 33;
}

.layui-input-block {
  margin-left: 0;
}

.layui-form-item .layui-form-checkbox[lay-skin="primary"] {
  width: 30%;
}

.layui-form-checkbox[lay-skin="primary"] span {
  color: #07a6ff;
}

.layui-form-checked[lay-skin="primary"] i {
  color: #07a6ff;
  background-color: #091a40;
  border-color: #07a6ff !important;
}

/* 左下角的图标 */
.ionic {
  position: fixed;
  left: 5px;
  bottom: 5px;
  border: 2px solid #131a5f;
  background-color: #091a40;
  z-index: 4;
}

.item {
  display: inline-block;
  width: 110px;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
}

.item img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.item p {
  font-size: 18px;
  color: #d5a319;
}

/*右侧*/
.box_r {
  height: 100vh;
  position: fixed;
  right: 0px;
  z-index: 4;
  padding-top: 80px;
  box-sizing: border-box;
  background-color: #08132c;
}

.ri_box {
  height: 100%;
  width: 600px;
  position: relative;
  padding-top: 60px;
  padding-bottom: 84px;
  box-sizing: border-box;
  overflow: hidden;
}

.layui-tab {
  margin: 0;
}

.layui-tab-card {
  border: none;
  border-radius: 0px;
}

.layui-tab-card > .layui-tab-title {
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  padding-top: 20px;
  border: 2px solid #131a5f;
  border-bottom: none;
}

.layui-tab-title li {
  display: inline-block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  border-bottom: 1px solid #131a5f;
  color: #fff;
  background-color: #1b84d2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.layui-tab-card > .layui-tab-title li {
  margin-right: 0;
  margin-left: 0;
}

.layui-tab-title li.mar_li {
  margin: 0 10px;
}

.layui-tab-card > .layui-tab-title .layui-this {
  background-color: #d37540;
  color: #fff;
}

.layui-tab-title .layui-this:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 41px;
  border-width: 0px;
  border-style: none;
  border-bottom-color: #fff;
  border-radius: 2px 2px 0 0;
  box-sizing: border-box;
  pointer-events: none;
}
.tle {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0px;
  padding-top: 20px;
  text-align: center;
  border: 2px solid #131a5f;
  border-bottom: none;
}
.layui-tab-content {
  padding: 0;
}
.content {
  width: 100%;
  height: 711px;
  overflow-y: auto;
  border-left: 2px solid #131a5f;
  border-top: 2px solid #131a5f;
  box-sizing: border-box;
}

._box {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  color: #fff;
  text-align: center;
  margin-right: 10px;
  box-sizing: border-box;
}

#main {
  /* width:1200px; */
  width: 580px;
  height: 680px;
  color: #fff;
  text-align: center;
  margin-right: 10px;
  box-sizing: border-box;
}

._box dl {
  border-bottom: 2px solid #131a5f;
  box-sizing: border-box;
}

._box dl,
._box ul {
  display: flex;
}

._box li {
  height: 40px;
  line-height: 40px;
  border-right: 2px solid #131a5f;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  text-align: center;
  border-left: none;
}

._box ul:last-child {
  border-bottom: 2px solid #131a5f;
}

li.last {
  border-right: none;
}

._box dl li:last-child {
  border-right: none;
}

._box ul li:last-child {
  border-right: none;
}

.elems {
  width: 100%;
  height: 84px;
  position: absolute;
  left: 0;
  bottom: 0px;
  border: 2px solid #131a5f;
  border-right: none;
  border-bottom: none;
  padding: 0 20px;
  box-sizing: border-box;
  color: #fff;
  overflow-y: auto;
}

/*地图*/
#maps {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: url(../static/ksh.png) no-repeat;
  background-size: 100% 100%;
}

/* 弹出窗 */
.hide-box {
  width: 360px;
  height: 470px;
  background-color: #fff;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 0;
  box-sizing: border-box;
  display: none;
}
.hide-tle {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  color: #000;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.layui-layer-setwin .layui-layer-close2 {
  right: -15px !important;
  top: -15px !important;
}
.box_tle {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #000;
  background-color: rgba(211, 117, 64, 0.8);
  overflow: hidden;
}
.box_tle p {
  width: 50%;
  float: left;
  text-align: center;
  font-weight: 700;
  box-sizing: border-box;
}
.bor {
  border-right: 1px solid #c0c4cc;
}
.box_box {
  width: 100%;
  height: 400px;
  overflow-y: auto;
}
.box_box div {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  overflow: hidden;
  color: #080808;
  border-bottom: 1px solid #c0c4cc;
}
.box_box div:last-child {
  border-bottom: 1px solid #c0c4cc;
}
.box_box div p {
  float: left;
  width: 50%;
  padding: 0 10px;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.box_box div p:first-child {
  border-right: 1px solid #c0c4cc;
  box-sizing: border-box;
}

/* 排行榜 */
.rank_tle {
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #131a5f;
  text-align: center;
}
.rank_tle p {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  margin: 0 10px;
  color: #fff;
  font-size: 18px;
  display: inline-block;
  cursor: pointer;
}
.rank_tle p.add {
  border-bottom: 2px solid #d37540;
}
.rank_box {
  width: 100%;
  height: 100%;
}
.rank_box ul {
  width: 100%;
  height: 58px;
  line-height: 58px;
  display: flex;
  border-bottom: 2px solid #131a5f;
  box-sizing: border-box;
}
.rank_box ul li {
  flex: 1;
  min-width: 120px;
  text-align: center;
  color: #fff;
  height: 55px;
  line-height: 55px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.rank_box .tle_rank li {
  color: #b0e1e5;
}

@media screen and (min-height: 1060px) {
  .content {
    height: 854px;
  }
  #main {
    height: 800px;
    margin-top: 20px;
  }
}
@media screen and (min-height: 900px) {
  .content {
    height: 680px;
  }
  #main {
    height: 650px;
  }
}
@media screen and (min-height: 1040px) {
  .content {
    height: 823px;
  }
  #main {
    height: 780px;
    margin-top: 20px;
  }
}
