<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>T052</title>
    <link rel="stylesheet" href="../../lib/layui/layui/css/layui.css" />
    <link rel="stylesheet" href="../../css/common.css" />
    <link rel="stylesheet" href="../../css/load.css" />
  </head>
  <body>
    <div class="tab">
      <table border="1" bordercolor="#131a5f">
        <thead>
          <tr>
            <th rowspan="5">B</th>
            <th rowspan="5">X</th>
            <th rowspan="5">日期</th>
            <th rowspan="5">时间</th>
            <th colspan="48">逐时气压、气温、相对湿度</th>
          </tr>
          <tr>
            <th colspan="6">21</th>
            <th colspan="6">22</th>
            <th colspan="6">23</th>
            <th colspan="6">00</th>
            <th colspan="6">01</th>
            <th colspan="6">02</th>
            <th colspan="6">03</th>
            <th colspan="6">04</th>
          </tr>
          <tr>
            <th colspan="6">05</th>
            <th colspan="6">06</th>
            <th colspan="6">07</th>
            <th colspan="6">08</th>
            <th colspan="6">09</th>
            <th colspan="6">10</th>
            <th colspan="6">11</th>
            <th colspan="6">12</th>
          </tr>
          <tr>
            <th colspan="6">13</th>
            <th colspan="6">14</th>
            <th colspan="6">15</th>
            <th colspan="6">16</th>
            <th colspan="6">17</th>
            <th colspan="6">18</th>
            <th colspan="6">19</th>
            <th colspan="6">20</th>
          </tr>

          <tr>
            <th>气压hPa</th>
            <th>Q</th>
            <th>气温°C</th>
            <th>Q</th>
            <th>相对湿度%</th>
            <th>Q</th>
            <th>气压hPa</th>
            <th>Q</th>
            <th>气温°C</th>
            <th>Q</th>
            <th>相对湿度%</th>
            <th>Q</th>
            <th>气压hPa</th>
            <th>Q</th>
            <th>气温°C</th>
            <th>Q</th>
            <th>相对湿度%</th>
            <th>Q</th>
            <th>气压hPa</th>
            <th>Q</th>
            <th>气温°C</th>
            <th>Q</th>
            <th>相对湿度%</th>
            <th>Q</th>
            <th>气压hPa</th>
            <th>Q</th>
            <th>气温°C</th>
            <th>Q</th>
            <th>相对湿度%</th>
            <th>Q</th>
            <th>气压hPa</th>
            <th>Q</th>
            <th>气温°C</th>
            <th>Q</th>
            <th>相对湿度%</th>
            <th>Q</th>
            <th>气压hPa</th>
            <th>Q</th>
            <th>气温°C</th>
            <th>Q</th>
            <th>相对湿度%</th>
            <th>Q</th>
            <th>气压hPa</th>
            <th>Q</th>
            <th>气温°C</th>
            <th>Q</th>
            <th>相对湿度%</th>
            <th>Q</th>
          </tr>
        </thead>
        <tbody id="tbod" align="center"></tbody>
      </table>
    </div>
  </body>
  <script src="../../lib/layui/layui/layui.js"></script>
  <script>
    layui
      .config({
        base: "../../lib/model/",
      })
      .extend({
        urls: "urls",
        func: "func",
      });
    layui.use(["urls", "func"], function () {
      var $ = layui.$,
        urls = layui.urls,
        url = urls.url,
        ajax = urls.ajax,
        func = layui.func;
      var id = func.locaStr("id"),
        time = func.locaStr("time");
      $("#tbod").empty();
      if (id) {
        ajax({
          url: url.shows,
          type: "post",
          data: {
            site: id,
            month: time,
            type: "T052",
          },
          success: function (res) {
            var data = res.data;
            for (var i = 0; i < data.length; i++) {
              var str = "";
              var td = "";
              for (var j = 0; j < data[i].length; j++) {
                td += "<td>" + data[i][j] + "</td>";
              }
              str = "<tr>" + td + "</tr>";
              $("#tbod").append(str);
            }
          },
        });
      }
    });
  </script>
</html>
